<!DOCTYPE html>
<html>
  <head>
  <link href='http://fonts.googleapis.com/css?family=Open+Sans:400,300,600,700,800' rel='stylesheet' type='text/css'>
  <title>Lista Beta - Lançamento dia 20/11</title>
  <%= stylesheet_link_tag    "application", media: "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
  <%= favicon_link_tag "favicon.ico" %>
  <%= analytics_init if Rails.env.production? %>
</head>
<body>

<%= render partial: 'layouts/flash' %>

<%= yield %>

<%= render partial: 'layouts/footer' %>

</body>
</html>
